<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.css" rel="stylesheet">
	<style>
		.input-group .form-control:focus,
		.input-group .form-select:focus {
			box-shadow: none !important;
		}

		/* Spinner container with background overlay */
        .spinner-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black background */
            justify-content: center;
            align-items: center;
            z-index: 9999;
			display: flex;
        }

        /* Spinner styling */
        .spinner-border {
            width: 3rem;
            height: 3rem;
        }

	</style>
</head>
<body>
	 <!-- Spinner (initially hidden) -->
	<div class="spinner-container d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

	<div class="container mt-5" styles="margin-top: 80px;">
		<h1>Stock Analysis</h1>

		<!-- Stock search form -->
		<form id="stockForm" class="mb-3">
			<div class="input-group">
				<input type="text" name="symbol" id="symbol" class="form-control form-control-lg border-border-start-0-ps-1" placeholder="Search for stock symbols" aria-label="Search" aria-describedby="search-icon" required>
				<select class="form-select" style="min-width: 100px !important; max-width: 120px !important;" id="period" name="period" required>
					<option>Period to analyze...</option>
					<option value="1d">1 day</option>
					<option value="5d">5 days</option>
					<option value="1mo">1 month</option>
					<option value="3mo">3 months</option>
					<option value="6mo">6 months</option>
					<option value="1y">1 year</option>
					<option value="2y">2 years</option>
					<option value="5y" selected>5 years</option>
					<option value="10y">10 years</option>
					<option value="ytd">YTD</option>
					<option value="max">Max</option>
				  </select>
				<button class="btn btn-lg btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
			</div>
		</form>

		<div id="stockResult"></div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.js"></script>
	<script>
		$(document).ready(function() {
			// When the form is submitted, prevent the default form submission
			$('#stockForm').submit(function(event) {
				event.preventDefault();  // Prevent the default form submission
			
				var symbol = $('#symbol').val();
				var period = $('#period').val();
		
				// Make an AJAX request to the '/analyze' route
				$.ajax({
					url: '/analyze',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({
						'symbol': symbol,
						'period': period
					}),
					beforeSend: () => $('.spinner-container').removeClass('d-none'),
					complete: () => $('.spinner-container').addClass('d-none'),
					success: function(response) {
						if (response.error) {
							let $errorElem = `
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<strong>Oops! </strong>
									${response.error}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							`; 

							$('#stockResult').html($errorElem);
						} else {
							console.log(response)
							let resultElem = ``; 
							let currencySymbol = ''; 
							
							if(response.stock_info) {
								let stockInfo = response.stock_info;
								let currentPrice = parseFloat(stockInfo.currentPrice); 
								currencySymbol = getCurrencySymbol(stockInfo.currency); 

								let recommendationColor = response.prediction == 'Buy' ? "text-bg-success" : "text-bg-danger"; 
								
								let $infoElem = `
									<!-- <button class="btn btn-danger">${response.prediction}</button>-->
									<h3>${stockInfo.longName} (${stockInfo.symbol})</h3>
									<hr>
									<div class="d-flex justify-content-between -align-items-middle">
									<h1>${currencySymbol}${currentPrice.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</h1>
									<h1><span class="badge text-dark-  ${recommendationColor}">${response.prediction}</span></h1>
									</div>
								`; 

								resultElem += $infoElem; 
							}

							if(response.chart_html) {
								resultElem += response.chart_html;
							}

							// Populate the stock data table
							var stockData = response.stock_data_table;

							if(stockData) {
								let $historicalTable = `
									<h3>Historical Data</h3>
									<table id="stockData" class="table table-sm table-bordered- table-hover small">
										<thead class="table-light">
											<tr>
												<th class="text-center align-middle">Date</th>
												<th class="text-center align-middle">Open</th>
												<th class="text-center align-middle">High</th>
												<th class="text-center align-middle">Low</th>
												<th class="text-center align-middle">Close</th>
												<th class="text-center align-middle">Volume</th>
											</tr>
										</thead>
									<tbody>
								`; 

								stockData.forEach(function(row) {

									$historicalTable += `
										<tr>
											<td class="text-center align-middle" data-sort="${moment(row.Date).format('YYYY-MM-DD')}"> ${moment(row.Date).format('DD MMM YYYY')} </td>
											<td class="text-end align-middle"> ${currencySymbol+row.Open.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })} </td>
											<td class="text-end align-middle"> ${currencySymbol+row.High.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })} </td>
											<td class="text-end align-middle"> ${currencySymbol+row.Low.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })} </td>
											<td class="text-end align-middle"> ${currencySymbol+row.Close.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })} </td>
											<td class="text-end align-middle"> ${row.Volume} </td>
										</tr>
									`; 
								});

								$historicalTable += `</tbody></table>`; 

								resultElem += $historicalTable; 
							}

							$('#stockResult').html(resultElem);

							$('#stockData').DataTable({
								paging: false,
    							scrollY: 400, 
								order: [[0, 'desc']],
								dom: 'Brti', // B for Buttons, f for search, r for processing, t for table, i for info, p for pagination
								buttons: ['csv', 'excel'] // Export buttons: copy, CSV, Excel, PDF
							}); 
						}
					},
					error: function(xhr, status, error) {
						console.error(error);
						let $errorElem = `
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<strong>Oops! </strong>
								${xhr.status}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						`; 

						$('#error').html($errorElem);
					}
				});

				function getCurrencySymbol(currencyCode) {
					return (0).toLocaleString('en', {
						style: 'currency',
						currency: currencyCode,
						minimumFractionDigits: 0,
						maximumFractionDigits: 0
					}).replace(/\d/g, '').trim();
				}

			});

		})
		
	</script>
</body>
</html>
